[Unit]
Description=Configure assisted-service configmap file with our IP address
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=/root/bin/config-ips.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target default.target